<hr>
<div class="post" style="position: relative;" data-id="<%= post.id %>">
  <div class="post-content" style="width: 90%;">
    <h1> <a href="<%= post_path(post) %>" ><%= post.title %></a> </h1>
    <h3> <%= post.subtitle %> </h3>
    <div>
      <%= simple_format(post.content) %>
    </div>
  </div>
  <figure class="kudo kudoable" data-id="<%= post.id %>" data-url="<%= kudos_path() %>" style="position: absolute; top: 0px; right: 0px;">
    <a class="kudobject">
        <div class="opening">
            <div class="circle">&nbsp;</div>
        </div>
    </a>
    <a href="#kudo" class="count">
        <span class="num"><%= post.kudos.count %></span>
        <span class="txt">Kudos</span>
    </a>
  </figure>
  <div>
    <p class="tag-text">
      [
        <% post.tags.each do |tag| %>
          <%= tag %>
        <% end %>
      ]
    </p>
    <p class="tag-text date">
      [<%= post.created_at.to_date %>]
    </p>
  </div>
</div>