<div class="post pure-g">
  <div class="pure-u-4-5" style="float:left;">
    <h1> <%= post.title %> </h1>
    <h3> <%= post.subtitle %> </h3>
    <div>
      <%= simple_format(post.content) %>
    </div>
    <div>
      <p class="tag-text" style="diplay:inline;">
        [<%= post.created_at %>]
      </p>
    </div>
  </div>
  <figure class="kudo kudoable pure-u-1-5" data-id="<%= post.id %>" data-url="<%= kudos_path() %>">
    <a class="kudobject">
        <div class="opening">
            <div class="circle">&nbsp;</div>
        </div>
    </a>
    <a href="#kudo" class="count">
        <span class="num"><%= post.kudos.count %></span>
        <span class="txt">Kudos</span>
    </a>
  </figure>
</div>